.first_block {
  position: absolute;
  z-index: 4;
  background-color: white;
  width: 100px;
  height: 50px;
  margin-top: 0px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
  -moz-box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
  box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
}
.first_block p {
  margin-top: 0;
  margin-left: 12px;
  font-size: 27pt;
  color: black;
}

.second_block {
  position: absolute;
  z-index: 3;
  background-color: white;
  width: 150px;
  height: 50px;
  border: 10px white;
  margin-top: 0px;
  margin-left: 70px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
  -moz-box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
  box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
}

.second_block p {
  margin-top: 0;
  margin-left: 70px;
  font-size: 27pt;
  color: black;
}

.third_block {
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 200px;
  height: 50px;
  border: 10px white;
  margin-top: 0px;
  margin-left: 150px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
  -moz-box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
  box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
}

.third_block p {
  margin-top: 0;
  margin-left: 110px;
  font-size: 27pt;
  color: black;
}

.fourth_block {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 220px;
  height: 50px;
  border: 10px white;
  margin-top: 0px;
  margin-left: 280px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
  -moz-box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
  box-shadow: 3px 0px 0px 0px white, 10px 1px 4px -4px black,
    inset 3px -44px 53px -25px rgb(147, 168, 69);
}

.fourth_block p {
  margin-top: 0;
  margin-left: 100px;
  font-size: 27pt;
  color: black;
}

.fifth_block {
  position: absolute;
  z-index: -1;
  background-color: white;
  width: 1000px;
  height: 50px;
  border: 10px white;
  margin-top: 0px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-box-shadow: inset 3px -44px 53px -25px rgb(147, 168, 69);
  -moz-box-shadow: inset 3px -44px 53px -25px rgb(147, 168, 69);
  box-shadow: inset 3px -44px 53px -25px rgb(147, 168, 69);
}
